* {
    box-sizing: border-box;
}

body {
    background-color: #3CAE8B;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

p {
    font-size: 3rem;
}